<div class="col-md-3 item">
	<div class="number"><%= locals[:number] %> </div>
	<div class="title"><%= locals[:title] %></div>
	<div class="description"><%= locals[:description]%></div>

	<div class="box-content">
		<ul class="list-unstyled">
			<li><%= locals[:item01] if locals[:item01] %></li>
			<li><%= locals[:item02] if locals[:item02] %></li>
			<li><%= locals[:item03] if locals[:item03] %></li>
			<li><%= locals[:item04] if locals[:item04] %></li>
			<li><%= locals[:item05] if locals[:item05] %></li>
		</ul>
	</div>
</div>