<div id="session">

<br>
<div class="container">
	<div class="row"> 

	<div class="col-md-4 col-md-offset-4 well">
	<h2 class="text-center">Novo Acesso</h2>

	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-group">
	    <%= f.text_field :email, required: true, autofocus: true, placeholder: 'E-mail', class: 'form-control' %>
	  </div>


	  <div class="form-group">
	    <%= f.password_field :password, required: true, placeholder: 'Senha', class: 'form-control' , hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
	  </div>
	    <%= f.password_field :password_confirmation, required: true, class: 'form-control', placeholder: 'Digite sua senha novamente' %>
	  

	   <br>
	  <div class="form-group">
	    <%= f.button :submit, "Cadastrar", class: 'btn btn-success btn-block' %>
	  </div>
	<% end %>

	<%#= render "users/shared/links" %>
	<p class="text-center"><%= link_to "Já tem um acesso?", new_session_path(resource_name) %><br /></p>
	</div> <!-- col-md-4 -->
	</div> <!-- row -->

</div> <!-- container -->
</div> <!-- registration -->
